/* DOCUMENT INFORMATION 
    - Document : 
    - Version : 1.0.0
    - Author : Marie-Noelle
*/

/* COLORS
    - defaut body text #050404
    - h1
    - h2
    - h3
    - h4
    - h5
    - h6
    
    - button
    - button:hover
    
    -boder : transparent
*/

/* FONTS
    - Default : Muli Regular
    - Subtitle
*/

/* CSS DIRECTORY 
    1. =GLOBAL
    2. =HEADER
    3. =
*/
/* GLOBAL
****************************************/

body{
    margin: 0;
    padding: 0;
    color: #333;
    /*background: #fff url(img/tahitiVueduCiel.jpg) no-repeat;*/
    background-color:white;
    font-family: "Trebuchet MS", arial, Verdana, Sans-Serif;
    font-size: 85%;
    text-align: center;
    background-size:cover;
    background-position:center;
    
    /*display:flex;*/
    /*justify-content:space-between;*/
}


html {
    font-family: 'Muli-Regular', sans-serif;
    color:#050404;
    background-color:#ffffff;
}

h1 {
    display: block;
    font-size: 2em;
    /*margin-block-start: 0.67em;*/
    /*margin-block-end: 0.67em;*/
    /*margin-inline-start: 0px;*/
    /*margin-inline-end: 0px;*/
    font-weight: bold;
}
p {
    display: block;
    /*margin-block-start: 1em;*/
    /*margin-block-end: 1em;*/
    /*margin-inline-start: 0px;*/
    /*margin-inline-end: 0px;*/
}
a {
    text-decoration: none;
    color: #7c8939;
    font-weight: bold;
}

strong {
    font-weight: bold;
}
ul {
    display: block;
    list-style-type: disc;
    /*margin-block-start: 1em;*/
    /*margin-block-end: 1em;*/
    /*margin-inline-start: 0px;*/
    /*margin-inline-end: 0px;*/
    /*padding-inline-start: 40px;*/
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
/*ASIDE************************************************/

/*ARTICLE************************************************/

article{
    display:flex;
    flex-direction:column;
    width:50vw;
    height:10vh;
    color:green;
    background-color:gray;
}

/*PAGE************************************************/

#page{
    color: #333;
    font-family: "Trebuchet MS", arial, Verdana, Sans-Serif;
    font-size: 85%;
    padding: 0;
    /*width: 940px;*/
    margin: 0 auto;
    text-align: left;
}

/************* PAGE ACTIVITIES CARROUSSEL **************/


#activitiesCarroussel {
    background-size: cover;
    background-color: gray;
    width:100%;
    height: 40vh;
}

.slideshow {
    width: 978px;
    margin-left: auto;
    margin-right: auto;
}

.slideshow-small {
	margin-left: auto;
	margin-right: auto;
}

#myCarousel {
    box-shadow: rgba(0, 0, 0, 0.06) 1px 1px 4px 1px;
}
.carousel {
    position: relative;
    margin-bottom: 20px;
    line-height: 1;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel .active.left {
    left: -100%;
}

.carousel .next.left, .carousel .prev.right {
    left: 0;
}
/*img {*/
/*    overflow-clip-margin: content-box;*/
/*    overflow: clip;*/
/*}*/

iframe {
    border: 1px solid black;
    width: 100%; /* takes precedence over the width set with the HTML width attribute */
    height:50vh;
    
}

/* HEADER 
******************************************************/

#header {
    height: 100px;
    /*background-image: url('img/tahitiVueduCiel.jpg');*/
    /*background-size: cover;*/
    /*background-position:center;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*color: #333;*/
    /*font-family: "Trebuchet MS", arial, Verdana, Sans-Serif;*/
    /*font-size: 85%;*/
    /*text-align: left;*/
    /*margin: 0;*/
    /*padding: 0;*/
    position: relative;
}

#header h1 {
    position: absolute;
    left: 18px;
    top: 19px;
}

#header h1 a {
    display: block;
    width: 392px;
    height: 74px;
    background: url(img/logo.jpg) no-repeat;
    /*text-indent: -600em;*/
}

#header #menuTop{
    color: #333;
    font-family: "Trebuchet MS",
    arial,
    Verdana,
    Sans-Serif;
    font-size: 85%;
    text-align: left;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 315px;
    top: 0;
}

#header #menuTop ul {
    list-style: none;
    overflow: hidden;
    width:100%;
}

#header #menuTop ul li {
    float: left;
    line-height: 41px;
    height: 41px;
    background: url(http://www.ville-papeete.pf/themes/mairie/images/separatorTop.gif) no-repeat 100% 0;
    margin-right: 15px;
}

/* HEADER FORM ACTION 
******************************************************/
#header form {
    width: 220px;
    position: absolute;
    right: 0;
    top: 12px;
}

img, fieldset {
    border: none;
}

/* FLASH 
******************************************************/
#flash {
    height: 220px;
    background: url(img/2_bann15-actu.jpg) no-repeat;
    position: relative;
    background-size:cover;
}
.rubrique3 #flash {
    background-image: url(img/ban/2_bann15-actu.jpg);
}

#dateJour {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 81px;
    background: url(images/fondDate.gif) repeat-x;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

#dateJour #jour {
    font-size: 34px;
    line-height: 30px;
}

#dateJour span {
    display: block;
}

#dateJour #annee {
    font-size: 20px;
}

#dateJour span {
    display: block;
}


/* MENU 
******************************************************/
#menu {
    height: 35px;
    position: relative;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    float: left;
    line-height: 35px;
    height: 35px;
    background: url(images/separatorMenu.gif) no-repeat 100% 0;
    margin-right: 12px;
    position: relative;
}

/* TABLEAU 
******************************************************/
.tableau {
    width:auto;
    height:50%;
    /*margin-left:10%;*/
}

/* CAROUSEL 
******************************************************/
.slideshow{
    width:50%;
    height:10vh;
}

/****** CONTACT ******/

#contact .contenu ul li{
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

form {
    align-items:center;
    /*padding: 25px;*/
    display: block;
    margin: auto;
}
section #contact .contenu #laptop #mob{
    align-items:center;
    display:flex;
    flex-direction:column;
}

#laptop {
    display:flex;
    justify-content:center;
    flex-direction:column;
}

#mob {
    display:none;
}

form action{
    font-family: verdana;
    font-size: 20px;
    color:grey;
}

* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* FOOTER 
******************************************************/
#footer {
	background: #788b1f url(images/bgFooter.jpg) repeat-x 0 100%;
}

#contentFooter {
	width: 940px;
	margin: 0 auto;
	text-align: left;
	padding: 30px 0 10px 0;
}

#contentFooter p, #contentFooter ul {
	font-size: 12px;
}

#contentFooter ul {
	list-style: none;
}

#contentFooter a, #contentFooter h2 {
	color: #d9ef70;
}

#contentFooter h2 {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 15px;
}

#blocInfoPlus {
	width: 575px;
}

#menuFooter {
	margin: 10px 0;
}

#menuFooter ul li {
	display: inline;
	background: url(images/separatorFooter.gif) no-repeat 100% 50%;
	padding-right: 10px;
	margin-right: 6px;
}

#menuFooter ul li.lastLink {
	background: none;
}

#blocLiensUtiles {
	float: right;
	width: 335px;
	padding-bottom: 30px;
}

#blocLiensUtiles ul {
	margin-top: 10px;
}

#footer #contentFooter #copyright {
	clear: both;
	font-size: 11px;
}

#copyright a#linkPptOnline {
	font-style: italic;
	font-weight: bold;
	font-size: 13px;
}


/* RWD 
******************************************************/
@media only screen and (max-width: 600px) {
  *,
  html {
  	margin: 0;
  	padding: 0;
  }

  body {
  	margin: 0;
  	padding: 0;
  	color: #333;
  	background: #fff url(images/bg.jpg) repeat-x;
  	font-family: "Trebuchet MS", arial, Verdana, Sans-Serif;
  	font-size: 85%;
  	text-align: center;
  }

  img,
  fieldset {
  	border: none;
  }

  a {
  	text-decoration: none;
  	color: #7c8939;
  	font-weight: bold;
  }

  a:hover {
  	text-decoration: underline;
  }
  
  .container{
      width:auto;
      
  }

  /*************** Style des formulaires ****************/

/*  label em {*/
/*  	color: #b03a31;*/
/*  	font-weight: bold;*/
/*  	font-size: 15px;*/
/*  }*/

/*  #blocContent fieldset {*/
/*  	border: none;*/
/*  	overflow: hidden;*/
/*  	margin-bottom: 20px;*/
/*  	padding: 15px;*/
/*  	background: #ebebeb;*/
/*  }*/

/*  label {*/
/*  	font-size: 12px;*/
/*  }*/

/*  .boutonNL {*/
/*  	background: none;*/
/*  	color: #ff6633;*/
/*  	border: none;*/
/*  	border: 1px solid #ff6633;*/
/*  	cursor: pointer;*/
/*  	margin: 0 0 0 20px;*/
/*  	top: 0;*/
/*  }*/

/*  #blocContent label {*/
/*  	display: block;*/
/*  	width: 50%;*/
/*  	float: left;*/
/*  }*/

/*  #blocContent fieldset p {*/
/*  	background: url(images/separatorForm.gif) repeat-x 0 100%;*/
/*  	clear: both;*/
/*  	overflow: hidden;*/
/*  	width: 100%;*/
/*  	padding-bottom: 15px;*/
/*  	margin-bottom: 15px;*/
/*  }*/

/*  #blocContent fieldset div p,*/
/*  #blocContent fieldset p#erreur,*/
/*  #blocContent fieldset p.bouton {*/
/*  	background: none;*/
/*  	padding-bottom: 6px;*/
/*  	margin-bottom: 10px;*/
/*  	width: auto;*/
/*  }*/

/*  #blocContent fieldset p.bouton input {*/
/*  	cursor: pointer;*/
/*  }*/

/*  #page #blocContent fieldset p#erreur {*/
/*  	color: #b03a31;*/
/*  	font-weight: bold;*/
/*  }*/

/*  #page #blocContent .ressaisir fieldset p#erreur {*/
/*  	border: 1px solid #b03a31;*/
/*  	background: #fae7e5;*/
/*  	padding: 10px;*/
/*  }*/

/*  textarea {*/
/*  	width: 395px;*/
/*  	height: 80px;*/
/*  }*/

/*  input {*/
/*  	border: 1px solid #cccccc;*/
/*  	width: 176px;*/
/*  	font-size: 12px;*/
/*  	color: #666666;*/
/*  }*/

/*  input.boutonSubmit {*/
/*  	width: auto;*/
/*  	border: none;*/
/*  	cursor: pointer;*/
/*  	vertical-align: top;*/
/*  }*/

/*  #blocContent #formActes p label,*/
/*  #blocContent #formActes2 p label {*/
/*  	margin-right: 6px;*/
/*  	float: none;*/
/*  	display: inline;*/
/*  }*/

/*  #blocContent #formActes p label input,*/
/*  #blocContent #formActes2 p label input {*/
/*  	width: auto;*/
/*  }*/

/*  #blocContent #formActes label,*/
/*  #blocContent #formActes2 label {*/
/*  	float: none;*/
/*  	width: auto;*/
/*  	display: block;*/
/*  }*/

/*  #page {*/
/*  	width: 940px;*/
/*  	margin: 0 auto;*/
/*  	text-align: left;*/
/*  }*/

/*  #header {*/
/*  	height: 100px;*/
/*  	position: relative;*/
/*  }*/

/*  #header h1 {*/
/*  	position: absolute;*/
/*  	left: 18px;*/
/*  	top: 19px;*/
/*  }*/

/*  #header h1 a {*/
/*  	display: block;*/
/*  	width: 392px;*/
/*  	height: 74px;*/
/*  	background: url(images/logo.jpg) no-repeat;*/
/*  	text-indent: -600em;*/
/*  }*/

/*  #header #menuTop {*/
/*  	position: absolute;*/
/*  	left: 315px;*/
/*  	top: 0;*/
/*  }*/

/*  #header #menuTop ul {*/
/*  	list-style: none;*/
/*  	overflow: hidden;*/
/*  	width: 100%;*/
/*  }*/

/*  #header #menuTop ul li {*/
/*  	float: left;*/
/*  	line-height: 41px;*/
/*  	height: 41px;*/
/*  	background: url(images/separatorTop.gif) no-repeat 100% 0;*/
/*  	margin-right: 15px;*/
/*  }*/

/*  #header #menuTop ul li a {*/
/*  	display: block;*/
/*  	margin-right: 15px;*/
/*  	font-size: 12px;*/
/*  }*/

/*  #header form {*/
/*  	width: 220px;*/
/*  	position: absolute;*/
/*  	right: 0;*/
/*  	top: 12px;*/
/*  }*/

/*  #flash {*/
/*  	height: 220px;*/
/*  	background: url(images/flash.jpg) no-repeat;*/
/*  	position: relative;*/
/*  }*/

/*  #dateJour {*/
/*  	position: absolute;*/
/*  	right: 0;*/
/*  	top: 0;*/
/*  	width: 70px;*/
/*  	height: 81px;*/
/*  	background: url(images/fondDate.gif) repeat-x;*/
/*  	text-align: center;*/
/*  	font-size: 14px;*/
/*  	color: #fff;*/
/*  }*/

/*  #dateJour span {*/
/*  	display: block;*/
/*  }*/

/*  #dateJour #jour {*/
/*  	font-size: 34px;*/
/*  	line-height: 30px;*/
/*  }*/

/*  #dateJour #annee {*/
/*  	font-size: 20px;*/
/*  }*/

/*  #menu {*/
/*  	height: 35px;*/
/*  	position: relative;*/
/*  }*/

/*  #menu ul {*/
/*  	list-style: none;*/
/*  }*/

/*  #menu ul li {*/
/*  	float: left;*/
/*  	line-height: 35px;*/
/*  	height: 35px;*/
/*  	background: url(images/separatorMenu.gif) no-repeat 100% 0;*/
/*  	margin-right: 12px;*/
/*  	position: relative;*/
/*  }*/

/*  #menu ul li.lastLink {*/
/*  	background: none;*/
/*  }*/

/*  #menu ul li a {*/
/*  	display: block;*/
/*  	margin-right: 12px;*/
/*  	font-size: 14px;*/
/*  	color: #666666;*/
/*  }*/

  /* Ul du 2eme niveau */

/*  #menu ul ul {*/
/*  	display: none;*/
/*  }*/

/*  #menu ul li.sfhover,*/
/*  #menu ul li:hover {*/
/*  	z-index: 15;*/
/*  }*/

/*  #menu ul li.sfhover ul li.sfhover,*/
/*  #menu ul li:hover ul li:hover {*/
/*  	z-index: 20;*/
/*  }*/

/*  #menu ul li.sfhover ul,*/
/*  #menu ul li:hover ul {*/
/*  	display: block;*/
/*  	position: absolute;*/
/*  	left: -10px;*/
/*  	top: 30px;*/
/*  	width: 200px;*/
/*  	text-align: left;*/
/*  	padding: 5px 0;*/
/*  	z-index: 4;*/
/*  	border: 1px solid #ccc;*/
/*  	background: #fff url(images/fondMenu.gif) repeat-x;*/
/*  }*/

/*  #menu ul li.sfhover ul li ul,*/
/*  #menu ul li:hover ul li ul {*/
/*  	display: none;*/
/*  }*/

/*  #menu ul li.sfhover ul li.sfhover ul,*/
/*  #menu ul li:hover ul li:hover ul {*/
/*  	display: block;*/
/*  	top: 5px;*/
/*  	left: 150px;*/
/*  }*/

/*  #menu ul ul li {*/
/*  	line-height: 18px;*/
/*  	height: auto;*/
/*  	float: left;*/
/*  	width: 200px;*/
/*  	background: none;*/
/*  }*/

/*  #menu ul ul li a {*/
/*  	margin: 0 10px;*/
/*  	border-bottom: 1px solid #ccc;*/
/*  	display: block;*/
/*  	width: 180px;*/
/*  	padding: 0;*/
/*  	background: none;*/
/*  	font-size: 13px;*/
/*  }*/

/*  #menu ul ul li a:hover {*/
/*  	background: #f0efef;*/
/*  	text-decoration: none;*/
/*  }*/

/*  #menu ul li.sfhover ul li.sfhover ul li ul,*/
/*  #menu ul li:hover ul li:hover ul li ul {*/
/*  	display: none;*/
/*  }*/

/*  #menu ul li.sfhover ul li.sfhover ul li.sfhover ul,*/
/*  #menu ul li:hover ul li:hover ul li:hover ul {*/
/*  	display: block;*/
/*  }*/

/*  #blocContent {*/
/*  	overflow: hidden;*/
/*  	width: 100%;*/
/*  	margin-top: 10px;*/
/*  }*/

/*  #blocContent a {*/
/*  	text-decoration: underline;*/
/*  }*/

/*  #blocContent a:hover {*/
/*  	text-decoration: none;*/
/*  }*/

/*  #blocContent .separator {*/
/*  	border-top: 1px solid #ececec;*/
/*  	margin: 10px 0;*/
/*  }*/

/*  #blocContent .separator hr {*/
/*  	display: none;*/
/*  }*/

/*  .bloc {*/
/*  	float: left;*/
/*  }*/

/*  #blocInside {*/
/*  	width: 575px;*/
/*  	margin-top: 30px;*/
/*  }*/

/*  #blocInside h2 {*/
/*  	color: #989933;*/
/*  	font-size: 24px;*/
/*  	font-weight: normal;*/
/*  	margin-bottom: 20px;*/
/*  	border-bottom: 1px solid #ececec;*/
/*  	padding-bottom: 15px;*/
/*  }*/

/*  #blocInside p,*/
/*  #blocInside ul,*/
/*  #blocInside ol,*/
/*  #blocInside td {*/
/*  	margin-bottom: 15px;*/
/*  	font-size: 13px;*/
/*  }*/

/*  #blocInside blockquote p {*/
/*  	font-size: 22px;*/
/*  	color: #8ba705;*/
/*  }*/

/*  #blocInside ul {*/
/*  	list-style: inside square;*/
/*  }*/

/*  #blocInside ol {*/
/*  	list-style: inside decimal;*/
/*  }*/

/*  #blocInside ul ul,*/
/*  #blocInside ul ol,*/
/*  #blocInside ol ul,*/
/*  #blocInside ol ol {*/
/*  	margin-left: 15px;*/
/*  }*/

/*  #blocInfos {*/
/*  	float: right;*/
/*  	width: 335px;*/
/*  }*/

/*  #blocInfos h2 {*/
/*  	color: #989933;*/
/*  	font-size: 20px;*/
/*  	font-weight: normal;*/
/*  	margin-bottom: 10px;*/
/*  }*/

/*  #blocInfos p,*/
/*  #blocInfos ul,*/
/*  #blocInfos ol {*/
/*  	font-size: 13px;*/
/*  }*/

/*  #blocInfos p.all {*/
/*  	text-align: right;*/
/*  }*/

/*  #blocInfos ul {*/
/*  	list-style: none;*/
/*  }*/

/*  #blocInfos ol {*/
/*  	list-style: inside decimal;*/
/*  }*/

/*  #blocNews,*/
/*  #blocSondage,*/
/*  #blocPratique,*/
/*  #acte {*/
/*  	background: url(images/fondBlocInfos.gif) no-repeat;*/
/*  	padding: 32px 20px 18px 30px;*/
/*  }*/

/*  #blocNews h3 {*/
/*  	font-weight: normal;*/
/*  	font-size: 13px;*/
/*  }*/

/*  #blocSondage h3 {*/
/*  	font-size: 13px;*/
/*  }*/

/*  #blocPratique,*/
/*  #acte {*/
/*  	margin-bottom: 20px;*/
/*  }*/

/*  #blocPratique p.all {*/
/*  	margin-top: 10px;*/
/*  }*/

/*  #blocAnnonceur p {*/
/*  	background: url(images/cadre.jpg) no-repeat;*/
/*  	padding: 0 3px 8px 1px;*/
/*  	margin-bottom: 15px;*/
/*  }*/

/*  #blocAnnonceur img {*/
/*  	display: block;*/
/*  }*/

/*  #footer {*/
/*  	background: #788b1f url(images/bgFooter.jpg) repeat-x 0 100%;*/
/*  }*/

/*  #contentFooter {*/
/*  	width: 940px;*/
/*  	margin: 0 auto;*/
/*  	text-align: left;*/
/*  	padding: 30px 0 10px 0;*/
/*  }*/

/*  #contentFooter p,*/
/*  #contentFooter ul {*/
/*  	font-size: 12px;*/
/*  }*/

/*  #contentFooter ul {*/
/*  	list-style: none;*/
/*  }*/

/*  #contentFooter a,*/
/*  #contentFooter h2 {*/
/*  	color: #d9ef70;*/
/*  }*/

/*  #contentFooter h2 {*/
/*  	font-size: 20px;*/
/*  	font-weight: normal;*/
/*  	margin-bottom: 15px;*/
/*  }*/

/*  #blocInfoPlus {*/
/*  	width: 575px;*/
/*  }*/

/*  #menuFooter {*/
/*  	margin: 10px 0;*/
/*  }*/

/*  #menuFooter ul li {*/
/*  	display: inline;*/
/*  	background: url(images/separatorFooter.gif) no-repeat 100% 50%;*/
/*  	padding-right: 10px;*/
/*  	margin-right: 6px;*/
/*  }*/

/*  #menuFooter ul li.lastLink {*/
/*  	background: none;*/
/*  }*/

/*  #blocLiensUtiles {*/
/*  	float: right;*/
/*  	width: 335px;*/
/*  	padding-bottom: 30px;*/
/*  }*/

/*  #blocLiensUtiles ul {*/
/*  	margin-top: 10px;*/
/*  }*/

/*  #footer #contentFooter #copyright {*/
/*  	clear: both;*/
/*  	font-size: 11px;*/
/*  }*/

/*  #copyright a#linkPptOnline {*/
/*  	font-style: italic;*/
/*  	font-weight: bold;*/
/*  	font-size: 13px;*/
/*  }*/

/*  #plansite {*/
/*  	margin: 20px 0 50px 0;*/
/*  }*/

/*  #plansite a {*/
/*  	display: block;*/
/*  	width: 100%;*/
/*  	text-decoration: none;*/
/*  }*/

/*  #plansite a:hover {*/
/*  	text-decoration: underline;*/
/*  }*/

/*  #blocInside #plansite h3 {*/
/*  	font-weight: normal;*/
/*  	margin-bottom: 8px;*/
/*  	border-bottom: 1px solid #ececec;*/
/*  	padding-bottom: 8px;*/
/*  }*/

/*  #blocInside #plansite h3 a {*/
/*  	background: url(images/puce.gif) no-repeat 0 8px;*/
/*  	padding-left: 10px;*/
/*  }*/

/*  #blocInside #plansite h4,*/
/*  #blocInside #plansite h5,*/
/*  #blocInside #plansite h6 {*/
/*  	margin: 0 0 5px 0;*/
/*  }*/

/*  #blocInside #plansite .bloch4 {*/
/*  	margin: 0 0 20px 30px;*/
/*  }*/

/*  #blocInside #plansite h4 a {*/
/*  	padding-left: 12px;*/
/*  	background: url(images/puce2.gif) no-repeat 0 6px;*/
/*  }*/

/*  #blocInside #plansite h4 a:hover {*/
/*  	text-decoration: none;*/
/*  	color: #95a446;*/
/*  }*/

/*  #blocInside #plansite .bloch5 {*/
/*  	margin: 0 0 10px 30px;*/
/*  }*/

/*  #blocInside #plansite h5 {*/
/*  	font-size: 12px;*/
/*  	font-weight: normal;*/
/*  }*/

/*  #blocInside #plansite h5 a {*/
/*  	background: url(images/puceFlecheGrise.gif) no-repeat 0 6px;*/
/*  	padding-left: 10px;*/
/*  }*/

/*  #blocInside .news p,*/
/*  #blocInside .sondage p {*/
/*  	margin: 0;*/
/*  }*/

/*  #blocInside .news,*/
/*  #blocInside .sondage {*/
/*  	border-bottom: 1px solid #ececec;*/
/*  	padding-bottom: 10px;*/
/*  	margin-bottom: 10px;*/
/*  	overflow: hidden;*/
/*  	width: 100%;*/
/*  }*/

/*  .vig {*/
/*  	background: url(images/cadre.gif) no-repeat 100% 100%;*/
/*  	padding: 0 2px 2px 0;*/
/*  	float: left;*/
/*  }*/

/*  .vig img {*/
/*  	width: 170px;*/
/*  	height: 170px;*/
/*  }*/

/*  .detailNews {*/
/*  	float: left;*/
/*  	width: 300px;*/
/*  	margin-left: 10px;*/
/*  }*/

/*  #resultatRecherche {*/
/*  	border-bottom: 1px solid #ececec;*/
/*  	padding-bottom: 15px;*/
/*  }*/

/*  .separateur {*/
/*  	height: 1px;*/
/*  	border-bottom: 1px solid #ececec;*/
/*  	margin: 10px 0;*/
/*  }*/

/*  .separateur hr {*/
/*  	display: none;*/
/*  }*/

/*  #page #blocVideo {*/
/*  	position: absolute;*/
/*  	border: 1px solid #ccc;*/
/*  	background: #ffffff;*/
/*  	z-index: 55;*/
/*  	padding-bottom: 10px;*/
/*  	padding: 10px 0;*/
/*  	width: 354px;*/
/*  	left: 100px;*/
/*  	cursor: move;*/
/*  }*/

/*  html>body #blocVideo {*/
/*  	margin-top: 90px;*/
/*  }*/

/*  #blocVideo p {*/
/*  	text-align: center;*/
/*  	margin-top: 350px;*/
/*  }*/

/*  #blocVideo a {*/
/*  	background: url(images/boutonClose.jpg) no-repeat;*/
/*  	padding: 3px 0 4px 22px;*/
/*  	text-transform: uppercase;*/
/*  	font-size: 11px;*/
/*  }*/

/*  #player {*/
/*  	position: absolute;*/
/*  	top: 5px;*/
/*  	left: 2px;*/
/*  	cursor: move;*/
/*  	z-index: 150;*/
/*  	cursor: move;*/
/*  }*/
  
/*}*/