header {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
  background-image: url("../ressources/images/header.jpg");
  background-size: cover;
  border: 1px dashed red;
}
header .nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  flex-direction: row;
  color: black;
  border: 1px dashed black;
}
header .nav-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: blue;
  background-color: #e2f7ff;
  border: 1px dashed pink;
}
header nav, header a, header li {
  text-decoration: none;
}
header .bar-logo {
  width: 80%;
  height: auto;
  direction: flex;
  flex-direction: row;
}
header .logo-hitech {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  width: 20vw;
  height: 100px;
  margin: 1rem 0;
  border: 1px dashed yellow;
}
header .logo {
  width: 30px;
  height: 30px;
}
header .search-bar {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  color: #fff;
  width: 30vw;
  height: 100px;
  margin: 1rem 0;
  border: 1px dashed yellow;
}
header .search-bar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
header .my-acompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  width: 30vw;
  height: 100px;
  margin: 1rem 0;
  border: 1px dashed yellow;
}
header .my-basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  width: 30vw;
  height: 100px;
  margin: 1rem 0;
  border: 1px dashed yellow;
}

/* *****************************************************************
VERSION TABLETTE
***************************************************************** */
@media screen and (min-width: 760px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  header .nav-container {
    align-items: center;
    flex-direction: column;
  }
  article .us {
    direction: flex;
    flex-wrap: no-wrap;
    align-items: center;
    width: 100%;
  }
  nav ul {
    display: flex;
    justify-content: space-around;
    border-top: none;
    background-color: #ebe3db;
  }
  nav li a {
    border-bottom: none;
  }
  .flex {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
  }
  .flex aside {
    width: calc(33.3333333333% - 2rem);
  }
  .choice div,
  .choice figure {
    flex-basis: calc(33.3333333333% - 2rem);
  }
  .galery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .galery figure {
    flex-basis: calc(50% - 2rem);
  }
  video {
    width: 80%;
  }
}
/* *****************************************************************
VERSION DESKTOP
***************************************************************** */
@media screen and (min-width: 1100px) {
  .container {
    max-width: 1400px;
    margin: auto;
  }
  header .container,
  main.container,
  footer .flex {
    padding: 2rem 5rem;
  }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    flex-direction: row;
    margin-left: 2rem;
  }
  .logo img {
    margin-right: 1rem;
  }
  nav ul {
    background-color: transparent;
    margin-top: 0;
  }
  nav li {
    margin: 0 2rem;
  }
  .intro-img {
    width: 40%;
    float: right;
    margin: 0 0 1rem 2rem;
  }
  .menu {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .menu h2 {
    flex: 1 0 100%;
  }
  .menu article {
    flex-basis: calc(33.3333333333% - 2rem);
  }
  form, video {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .search-container {
    float: none;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, section nav {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* *****************************************************************
GENERAL
***************************************************************** */
body * {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  width: auto; /* pour ie */
  height: auto;
  -ms-interpolation-mode: bicubic; /* lissage pour IE */
  image-rendering: -webkit-optimize-contrast; /* lissage pour Chrome au redimensionnement*/
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.5;
  font-size: 1.8rem;
  background-color: #ededed;
}

h1,
h2,
h3,
h4 {
  font-family: "Merienda", cursive;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
  margin: 3rem 0;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  margin: 4rem 0 2rem 0;
  text-align: center;
}

p {
  margin-bottom: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
