
:root {
    /*--container-padding: 80px;
    --container-width: calc(100% - var(--container-padding) * 2);*/
    --lightblue: #BDECF6;
    --lightgray: #ECECEC;
    --gray: #747474;
    --font: #444444;
    --footer: #444444;
    --framboise: #E83B89;
    --white: #FFFFFF;
}

/******************* BODY *******************/

body {
    font-family: 'Times', sans-serif;
    color: var(--font);
    /* margin:0;
    padding:0;
    flex-direction:column;
    align-self:center;*/
}

/******************* HEADER *******************/

header, section, footer {
    font-family: 'Times', sans-serif;
    box-sizing: border-box;
    width: 100%;
    /*padding-left: calc(50% - var(--container-width) / 2);
    padding-right: calc(50% - var(--container-width) / 2);*/
    padding-left: auto;
    padding-right: auto;
}


header .contenu {
    /*height: 38px;*/
    display:flex;
    /*justify-content:center;
    align-items:center;
    margin-top:24px;
    margin-bottom:24px;
    flex-direction:column;*/
}

header .contenu h1, footer h1 {
    /*font-family: 'Crete Round';*/
    
    font-style: normal;
    font-size: 40px;
    font-weight: bold;
    align-self: center;
    white-space: nowrap;
   /*flex-direction:column;*/
}

header .contenu nav {
    align-items:center;
    align-self:center;
    padding-left:150px;
}

header .contenu ul {
    display:flex;
}

/*.contenu ul {
    display: flex;
    justify-content: center; OU flex-end OU center OU space-between OU space-around;
    text-align:center;
    list-style-type: none;
    overflow: hidden;
    align-items:center;
    flex-direction:column;
}*/

header .contenu nav ul li a {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    padding-right: 32px;
}

span {
	padding : 1px;
	font-size:bold;
}

/******************* FONTS *******************/

h1 {
    /*color: #404040;*/
    font-family: Times, Serif;
}

h2 {
    font-size:50px;
    color:white;
    font-family:verdana;
    text-align:center;
}

h3 {
    font-size:50px;
    color:#444444;
    text-align:center;
}

h4 {
    font-size:20px;
    font-family:verdana;
    text-transform:uppercase;
}

.framboise {
    color:#e83988;
}

a {
    text-decoration:none;
}

li {
  list-style-type:none;
  padding: 8px;
  text-decoration:none;
    
}

/******************* MAIN *******************/

#main-image .contenu{
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-image:url("images/main.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    height:50vh;
    /**width: 130px;**/
    flex-direction:column;
}

/******************* BOUTONS *******************/

.button-1, .button-2{
    display:block;
    border-radius:5px;
    margin-bottom:8px;
    margin-top:8px;
    /*justify-content:flex-end;
    align-items:center;*/
    background-color: #e83988;
    color:white;
    text-align:center;
    /*cursor:pointer;*/
    width:auto;
    height:40px;
    padding-top:8px;
    padding-bottom:8px;
    
}

/*.button-2 {
    display: block;
    border-radius:5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e83988;
    color: #FFFFFF;
    width: 200px;
    text-align: center;
    font-family: Verdana;
    font-size: 1em;
    text-decoration: none;
}*/

.button-3{
    display:block;
    justify-content:flex-end;
    align-items:center;
    background-color: #e83988;
    color:white;
    text-align:center;
    cursor:pointer;
    width:75px;
    height:40px;
    margin-bottom:8px;
    margin-top:8px;
    border-radius:5px;
}

.trait{
    border:solid #BDECF6;
}

/******************* STEPS/*******************/ 

/**#steps-1 h4{
    display:flex;
    color:#3e3e3e;
}**/

#steps .contenu ul{
    display:flex;
    justify-content: center;
    align-items: center;
    align-self:center;
}

#step-1 h4::before {
    /*justify-content:center;*/
    display:flex;
    flex-direction: column;
    content:url(images/steps-icon-1.png);
    padding-bottom:64px;
   /** margin-bottom:64px;
    align-items:center;**/
}
/**#steps-2 h4{
    display:flex;
    color:#3e3e3e;
}**/

#step-2 h4::before {
    justify-content:center;
    display:flex;
    flex-direction: column;
    content:url(images/steps-icon-2.png);
    padding-bottom:64px;
    /**margin-bottom:64px;
    align-items:center;**/
}
/**#steps-3 h4{
    display:flex;
    color:#3e3e3e;
}**/

#step-3 h4::before {
    justify-content:center;
    display:flex;
    flex-direction: column;
    content:url(images/steps-icon-3.png);
    padding-bottom:64px;
}

/****** POSSIBILITIES ******/

#possibilities {
    width:100%;
    height:300%;
    background-color:#ECECEC;
}

#possibilities .contenu{
    display:flex;
    justify-content:center;
    /*flex-direction:column;*/
}

.overlay{
    background-color:white;
    width:50%;
    height:200px;
    
}

.clear {
    
}

article {
    display:flex;
    justify-content:space-between;
    border-radius:25px;
    height:200px;
    background-size:cover;
    margin-bottom:100px;
}

/****** CONTACT ******/

#contact .contenu ul li{
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width:50%;
}

form {
    align-items:center;
    padding: 25px;
    display: block;
    margin: auto;
    width: fit-content;
}

#laptop {
    display:flex;
    justify-content:center;
}

#mob {
    display:none;
}

/****** Footer ******/

footer {
    /*display:flex;
    justify-content:center;
    align-items:center;*/
    text-align:center;
    background-color:#444444;
    font-size:20px;
    height:25vh;
}

footer h1{
    color:#FFFFFF;
    padding-top: 54px;
    padding-bottom: 54px;
}

footer .contenu .copyright{
    display:flex;
    justify-content:center;
    text-align:center;
    
}

/*footer .copyright{
    color:#747474;
}*/

.copyright{
    font-size:12px;
    align-items: flex-end;
    color:#747474;
}

/***************************RWD*************/

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
@media screen and (max-width: 1280px) {
/* Insérez vos propriétés CSS ici, avec vos sélecteurs*/
    p {
        color:#747474;
        text-align:center;
        font-family: Arial, sans-serif;
        font-size : 1em;
        justify-content:center;
    }
    
}

/*@media screen and (max-width:960px){
    .container {
        flex-direction:column;
        
    }
}*/

/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
/*@media screen and (max-width: 1280px) {*/
     
/*    header .contenu{*/
        /* height: 38px;
        margin-top: 24px;
        margin-bottom: 24px;*/
/*        width:100%;*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*        align-self:center;*/
/*    }*/
    
/*    header .contenu nav {*/
/*        padding: 0px;*/
/*    }*/
   /*header h1, h2, h3, h4 {
        flex-direction:column;
        align-self:center;
        align-items:center;
    }*/
    
/*    steps .contenu ul li {*/
/*        flex-direction:column;*/
/*        align-self:center;*/
/*        align-items:center;*/
/*    }*/
    
/*    #step-1, #step-2, #step-3, #step-4 {*/
/*        flex-direction:column;*/
/*        align-items:center;*/
/*        justify-content:space-evenly;*/
/*    }*/
    

/*}*/

/* Sur tous types d'écrans orientés verticalement */
@media all and (orientation: portrait) and (min-width: 350px) and (max-width: 1280px) {
    
   header, footer, section, article{
	flex-direction:column;
	align-self:center;
	width:100%;
	/*
	position: relative;
	padding-left: auto;
	padding-right:auto;
	box-sizing: border-box;
    }*/
   
    
    
    
}

/****************** RWD Maison du Chocolat ****************/
@media screen and (max-width:900px) {
    header .contenu nav {
        align-self: center;
        padding-left: 0px;
    }
    header .contenu {
        flex-direction: column;
    }
    #steps .contenu ul {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }
    #possibilities .contenu {
        flex-direction: column;
        align-items: center;
    }
    #laptop {
        display: none;
    }
    #mob {
        display: block;
        max-width: 300px;
    }
    input {
        float: right;
        width: 250px;
    }
    #contact .contenu {
        width: 300px;
    }
    .button-3 {
        float: none;
        margin: auto;
        display: block;
    }
}

@media screen and (max-width:500px) {
    header .contenu nav ul li a {
        padding: 5px 5px;
    }
    #main-image {
        height: 380px;
    }
    #possibilities article {
        width: 320px;
        height: 180px;
        margin: 10px;
    }
}

@media screen and (max-width:390px) {
    header .contenu nav ul li a {
        font-size: 10px;
    }
    header .contenu nav ul li a {
        padding: 5px 2px;
    }
}

@media screen and (max-width:1250px) {}

@media screen and (max-width:1690px) {}